<div class="col-md-6 offset-3">
  <%= render "shared/information" %>
  <table class="table-light mt-3 mb-5 p-4">
    <% current_user.favorites.each do |favorite| %>
      <tr>
        <td>フォローユーザー名：<%= favorite.blog.user.username %><br></td>
      </tr>
      <tr>
        <td class="picture">
          <%= link_to image_tag(favorite.blog.image_url,:width => "400px"), blog_path(favorite.blog.id) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>