
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  template: template0

development:
  <<: *default
  database: stamp_development

test:
  <<: *default
  database: stamp_test


production:
  <<: *default
  database: stamp_production
  username: stamp
  password: <%= ENV['STAMP_DATABASE_PASSWORD'] %>
