// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-item{
  padding-left:30px;
}

li a{
  color:black !important;
  padding-top:1px !important;
}

li a:hover { 
  text-decoration: none;
}

.navbar-brand{
  padding-top:1px !important;
}

.offset-2 {
    margin-left: 400px;
}

/*トップ画面（index） */
td{
  width:150px;
  padding: 0 15px 15px 15px;
}

/*メッセージ（_messages） */
.notice{
  margin: 15px 0 -10px 0;
}

/*投稿者情報（show）*/
.font{
  font-size: 1.2rem !important;
}

/*ブログ詳細画面（show） */
.main_picture img{
  width: 500px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.name{
  margin: 10px auto;
}

.content{
  margin: 20px auto;
}
