// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-item{
  padding-left:30px;
}

li a{
  color:black !important;
  padding-top:1px !important;
}

li a:hover { 
  text-decoration: none;
}

.navbar-brand{
  padding-top:1px !important;
}

.offset-2 {
    margin-left: 400px;
}