// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
  font-family:Billabong;
  background-color: #fafafa;
}

.card-body h4{
  color: #999;
  font-size: 17px;
}

.g4Vm4{
  color: #999;
  margin: 10px auto;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}